body{
    background: seagreen;
    display: flex;
    justify-content:space-around;
}
li{
    margin: 3px 0 1px 0;
}
button{
    background: green;
    border-radius: 5px;
    padding: 2px;
}
button:hover{
    background: darkgreen;
}

